# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SimpleTooltipSystem.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\GitHub\SimpleTooltipSystem\.idea\.idea.SimpleTooltipSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
